<div class="container games-container">
  <h1 class="text-center mt-5 mb-5"><i class="fas fa-gamepad mr-3"></i>YOUR PROJECTS LIBRARY</h1>
  <div class='games'>
    <% @games.each do |game| %>
      <main>
        <div class='card-games'style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path game.photo.key%>')">
          <div class='info'>
            <%= link_to game_path(game.id) do %>
              <h1 class='title'><%= game.title %></h1>
              <div class="text-overflow">
                <p class='description'><%= game.description %></p>
            <% end %>
                <p><%= link_to game_path(game), method: :delete, data: { confirm: "Are you sure you want to booking your game ?"}, class: "delete-button" do %></p>
                  <i class="far fa-trash-alt"></i>
                <% end %>
            </div>
          </div>
        </div>
      </main>
    <% end %>
  </div>
</div>
<div class="footer">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github-square"></i>
</div>
