<script type="text/javascript">
if (location.href.indexOf('reload')==-1)
{
   location.href=location.href+'?reload';
}
</script>

<div class="container mt-4">
  <div class='main-form' data-controller="search-tags">

    <div class='container-form'>
      <%= simple_form_for @game, html: { autocomplete: 'off' } do |f| %>
        <div data-search-tags-target="hide">
          <h1 class='text-center'><i class="fas fa-align-left mr-3 mb-4"></i>GAME INFORMATIONS</h1>
          <%= f.input :title, required: false %>
          <%= f.input :description, as: :text, :input_html => { :rows => 4 }, required: false %>
          <div class="control-group d-flex">
            <%= f.input :price, required: false, :wrapper_html => { :class => "inline_field_wrapper mr-4" } %>
            <%= f.input :followers, required: false, :wrapper_html => { :class => "inline_field_wrapper mr-4" } %>
            <%= f.input :games_number, required: false, :wrapper_html => { :class => "inline_field_wrapper mr-4" } %>
            <div class='mt-5'>
              <%= f.input :website, required: false, :wrapper_html => { :class => "ml-3 inline_field_wrapper" } %>
              <%= f.input :english, required: false, :wrapper_html => { :class => "ml-3 inline_field_wrapper" } %>
            </div>
          </div>
          <%= f.input :photo, as: :file, :wrapper_html => { :class => "inline_field_wrapper" }, required: false %>
        </div>
        <div class="d-none" data-search-tags-target="show d-flex justify-content-center">
          <h1 class="text-center mb-4"><i class="fas fa-tag mr-3"></i>CHOOSE 5 TAGS</h1>
          <div class="d-flex justify-content-center">
            <div data-search-tags-target="your_tags" class="hide-text mr-4 mt-5 text-white"><h2>.</h2></div>
            <div data-search-tags-target="owner_tags" class="d-none mt-5"></div>
          </div>
          <div class='d-flex justify-content-center'>
            <%= f.text_field :query,
                              class: "form-control mt-3 w-50",
                              placeholder: 'Type a tag title',
                              value: params[:query],
                              data: {
                                search_tags_target: 'searchInput',
                                action: "keyup->search-tags#update"
                            } %>
          </div>
          <div data-search-tags-target="results"></div>
          <div data-search-tags-target="choices"></div>
        </div>
    </div>

    <div class='footer-form'>
      <div data-search-tags-target="hidesecond">
        <button data-action="click->search-tags#next" class="next-button"><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="d-none" data-search-tags-target="showsecond">
        <button data-action="click->search-tags#previous" class="previous-button"><i class="fas fa-chevron-left"></i></button>
        <button data-action="click->search-tags#submit" class="create-button"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>

    <% end %>
  </div>
</div>
