<div class="container mt-4">
  <div class='main-form' data-controller="search-tags">

    <div class='container-form'>
      <%= simple_form_for @game, html: { autocomplete: 'off' } do |f| %>
        <div data-search-tags-target="hide">
          <h1 class='text-center'><i class="fas fa-align-left mr-3 mb-4"></i>GAME INFORMATIONS</h1>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
        </div>
        <div class="d-none" data-search-tags-target="show d-flex justify-content-center">
          <h1 class="text-center mb-4"><i class="fas fa-tag mr-3"></i>CHOOSE 5 TAGS</h1>
          <div class="d-flex justify-content-center">
            <div data-search-tags-target="your_tags" class="hide-text mr-4 mt-5 text-white"><h2>.</h2></div>
            <div data-search-tags-target="owner_tags" class="d-none mt-5"></div>
          </div>
          <div class='d-flex justify-content-center'>
          <%= f.text_field :query,
                            class: "form-control mt-3 w-50",
                            placeholder: 'Type a tag title',
                            value: params[:query],
                            data: {
                              search_tags_target: 'searchInput',
                              action: "keyup->search-tags#update"
                          } %>
          </div>
          <div data-search-tags-target="results"></div>
          <div data-search-tags-target="choices"></div>
        </div>
    </div>

    <div class='footer-form'>
      <div data-search-tags-target="hide2">
        <button data-action="click->search-tags#next" class="btn btn-outline-dark next-button">Next</button>
      </div>
      <div class="d-none" data-search-tags-target="show2">
        <button data-action="click->search-tags#previous" class="btn btn-outline-dark previous-button">Previous</button>
        <%= f.submit "Submit", class: "btn btn-outline-dark create-button" %>
      </div>
    </div>

    <% end %>
  </div>
</div>
