<div class="container mt-5">


  <div data-controller="search-tags">
    <%= simple_form_for(@game) do |f| %>
      <div data-search-tags-target="hide">
        <h1 class="text-center"><i class="fas fa-info-circle mr-3"></i>GAME INFORMATIONS</h1>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <button data-action="click->search-tags#next" class="btn btn-dark next-button">Next</button>
      </div>
      <div class="d-none" data-search-tags-target="show">
        <h1 class="text-center mb-4"><i class="fas fa-tag mr-3"></i>CHOOSE 5 TAGS</h1>
        <div class="d-flex">
          <div data-search-tags-target="your_tags" class="mr-4"><h1>YOUR TAGS</h1></div>
          <div data-search-tags-target="owner_tags" class="d-none"></div>
        </div>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Type a tag title',
                          value: params[:query],
                          data: {
                            search_tags_target: 'searchInput',
                            action: "keyup->search-tags#update"
                        } %>
        <div data-search-tags-target="results"></div>
        <div data-search-tags-target="choices"></div>
        <button data-action="click->search-tags#previous" class="btn btn-dark previous-button">Previous</button>
        <%= f.submit "Create Game", class: "btn btn-info text-white create-button" %>
      </div>

    <% end %>
  </div>





</div>
