<div class='container mt-2'>
  <div class='game-container'>
    <div class='banner-show'>
      <%= cl_image_tag @game.photo.key, class:'game_avatar mr-4' %>
      <div class='game-information'>
        <div class='d-flex justify-content-between'>
          <h3><%= @game.title %></h3>
          <div>
            <% badge_colors = ["#f8961e", "#f9c74f","#90be6d","#43aa8b","#577590"] %>
            <% index = 0 %>
            <% tags = @game.tags.map(&:name) %>
            <% tags.each do |tag| %>
              <span class="mr-2 pt-2 pb-2 pr-3 pl-3 badge text-white" style="background-color: <%= badge_colors[index]%>"><%= tag %></span>
              <% index += 1 %>
            <% end %>
          </div>
        </div>
          <p class='text-left'><%= @game.description %></p>
      </div>
    </div>
  </div>

  <div class="informations d-flex justify-content-between">

    <div class="box-description mt-2">

      <div data-controller="loader" data-loader-url-value="<%= [@game.api_url, @game.api_url2].to_json %>">
        <p class="mt-5"><strong>Sales</strong> prediction in this year</p>
        <div data-loader-target="owner"></div>
        <p class="mt-5"><strong>Revenue</strong> prediction in this year</p>
        <div data-loader-target="revenues"></div>
      </div>

      <div class="slidecontainer">
        <input type="range" min="1" max="50" value="<%= @game.price %>" class="slider" id="myRange">
        <p class='mt-2'>Game Price:<span class='ml-2' id="demo"></span>€</p>
      </div>

    </div>

    <div class="scroller w-75 mt-2 ml-2">
      <canvas class="mb-5" id="myChart2" width="120" height="60"></canvas>
      <canvas class="mt-5 mb-5" id="myChart" width="120" height="60"></canvas>
    </div>

  </div>
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;

  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>
