<div class='container mt-2'>
  <div class='game-container'>
    <div class='banner-show'>
    <%= cl_image_tag @game.photo.key, class:'game_avatar mr-4' %>
    <div class='game-information'>
      <div class='d-flex justify-content-between'>
        <h3><%= @game.title %></h3>
        <div>
          <% tags = @game.tags.map(&:name) %>
          <% tags.each do |tag| %>
            <span class="mr-2 pt-2 pb-2 pr-3 pl-3 badge badge-secondary"><%= tag %></span>
          <% end %>
        </div>
      </div>
        <p class='text-left'><%= @game.description %></p>
    </div>
    </div>
  </div>
  <div data-controller="loader" data-loader-url-value="<%= @game.api_url%>">
    <div data-loader-target="owner"></div>
  </div>

  <div class="informations d-flex justify-content-between">

    <div class="box-description mt-2">
      <p>Sale Prediction</p>
      <p class="price"><%= @game.price %></p>
      <p>Game Price</p>
      <p></p>
    </div>

    <div class="scroller w-75 mt-2 ml-2">
      <canvas class="mb-5" id="myChart2" width="120" height="60"></canvas>
      <canvas class="mt-5 mb-5" id="myChart" width="120" height="60"></canvas>
    </div>



  </div>
</div>
