<div>
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize tags.count, 'tag' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize tags.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="tags">
    <% tags.each do |tag| %>
      <div class="tag-card">
        <h2 data-action="click->search-tags#select" data-id="<%= tag.id %>"><%= tag.name %></h2>
      </div>
    <% end %>
  </div>

</div>
